* 데이터 수집      
  http://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do

In [1]:
import pandas as pd

In [2]:
# 그래프를 노트북 안에 그리기 위해 설정
%matplotlib inline

# 필요한 패키지와 라이브러리 가져온다.
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

# 폰트 지정하기
plt.rcParams['font.family'] = 'gulim'

# 데이터 확인 및 전처리
 * 월별, 시간대별, 역별 지하철 승하차정보 데이터이다.

In [3]:
df = pd.read_csv('test_data/서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv', encoding='cp949')

In [4]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202108,1호선,동대문,415,11,10380,1815,7880,5352,12037,...,5983,7,1043,2,2,0,2,0,0,20210903
1,202108,1호선,동묘앞,84,3,2861,918,3286,4614,5128,...,1759,4,827,0,0,0,0,0,0,20210903
2,202108,1호선,서울역,483,11,7963,5533,10871,31479,31643,...,4968,21,444,1,1,0,0,0,0,20210903
3,202108,1호선,시청,6,0,1597,4399,2727,17957,5971,...,822,3,72,0,2,0,0,0,0,20210903
4,202108,1호선,신설동,247,6,6828,2721,7333,9771,14821,...,3747,15,390,0,0,0,0,0,0,20210903

In [5]:
df.tail()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
46547,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
46548,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
46549,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
46550,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
46551,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

## 데이터 크기

In [6]:
df.shape

(46552, 52)

## 결측치 확인

In [7]:
df.isnull().sum()

사용월             0
호선명             0
지하철역            0
04시-05시 승차인원    0
04시-05시 하차인원    0
05시-06시 승차인원    0
05시-06시 하차인원    0
06시-07시 승차인원    0
06시-07시 하차인원    0
07시-08시 승차인원    0
07시-08시 하차인원    0
08시-09시 승차인원    0
08시-09시 하차인원    0
09시-10시 승차인원    0
09시-10시 하차인원    0
10시-11시 승차인원    0
10시-11시 하차인원    0
11시-12시 승차인원    0
11시-12시 하차인원    0
12시-13시 승차인원    0
12시-13시 하차인원    0
13시-14시 승차인원    0
13시-14시 하차인원    0
14시-15시 승차인원    0
14시-15시 하차인원    0
15시-16시 승차인원    0
15시-16시 하차인원    0
16시-17시 승차인원    0
16시-17시 하차인원    0
17시-18시 승차인원    0
17시-18시 하차인원    0
18시-19시 승차인원    0
18시-19시 하차인원    0
19시-20시 승차인원    0
19시-20시 하차인원    0
20시-21시 승차인원    0
20시-21시 하차인원    0
21시-22시 승차인원    0
21시-22시 하차인원    0
22시-23시 승차인원    0
22시-23시 하차인원    0
23시-24시 승차인원    0
23시-24시 하차인원    0
00시-01시 승차인원    0
00시-01시 하차인원    0
01시-02시 승차인원    0
01시-02시 하차인원    0
02시-03시 승차인원    0
02시-03시 하차인원    0
03시-04시 승차인원    0
03시-04시 하차인원    0
작업일자            0
dtype: int64

## 컬럼별 데이터 확인

In [8]:
# 사용월
df['사용월'].unique()

array([202108, 202107, 202106, 202105, 202104, 202103, 202102, 202101,
       202012, 202011, 202010, 202009, 202008, 202007, 202006, 202005,
       202004, 202003, 202002, 202001, 201912, 201911, 201910, 201909,
       201908, 201907, 201906, 201905, 201904, 201903, 201902, 201901,
       201812, 201811, 201810, 201809, 201808, 201807, 201806, 201805,
       201804, 201803, 201802, 201801, 201712, 201711, 201710, 201709,
       201708, 201707, 201706, 201705, 201704, 201703, 201702, 201701,
       201612, 201611, 201610, 201609, 201608, 201607, 201606, 201605,
       201604, 201603, 201602, 201601, 201512, 201511, 201510, 201509,
       201508, 201507, 201506, 201505, 201504, 201503, 201502, 201501],
      dtype=int64)

In [9]:
# 호선명
df['호선명'].unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       '9호선2~3단계', '경강선', '경부선', '경원선', '경의선', '경인선', '경춘선', '공항철도 1호선',
       '과천선', '분당선', '수인선', '안산선', '우이신설선', '일산선', '장항선', '중앙선', '9호선2단계'],
      dtype=object)

## 데이터 타입 확인 및 변경

In [10]:
df.dtypes

사용월              int64
호선명             object
지하철역            object
04시-05시 승차인원     int64
04시-05시 하차인원     int64
05시-06시 승차인원     int64
05시-06시 하차인원     int64
06시-07시 승차인원     int64
06시-07시 하차인원     int64
07시-08시 승차인원     int64
07시-08시 하차인원     int64
08시-09시 승차인원     int64
08시-09시 하차인원     int64
09시-10시 승차인원     int64
09시-10시 하차인원     int64
10시-11시 승차인원     int64
10시-11시 하차인원     int64
11시-12시 승차인원     int64
11시-12시 하차인원     int64
12시-13시 승차인원     int64
12시-13시 하차인원     int64
13시-14시 승차인원     int64
13시-14시 하차인원     int64
14시-15시 승차인원     int64
14시-15시 하차인원     int64
15시-16시 승차인원     int64
15시-16시 하차인원     int64
16시-17시 승차인원     int64
16시-17시 하차인원     int64
17시-18시 승차인원     int64
17시-18시 하차인원     int64
18시-19시 승차인원     int64
18시-19시 하차인원     int64
19시-20시 승차인원     int64
19시-20시 하차인원     int64
20시-21시 승차인원     int64
20시-21시 하차인원     int64
21시-22시 승차인원     int64
21시-22시 하차인원     int64
22시-23시 승차인원     int64
22시-23시 하차인원     int64
23시-24시 승차인원     int64
23시-24시 하차인원     int64
00시-01시 승차인원     int64
00시-01시 하차인원     int64
01시-02시 승차인원     int64
01시-02시 하차인원     int64
02시-03시 승차인원     int64
02시-03시 하차인원     int64
03시-04시 승차인원     int64
03시-04시 하차인원     int64
작업일자             int64
dtype: object

In [11]:
df['사용월'] = df['사용월'].astype('str')

In [12]:
df.dtypes

사용월             object
호선명             object
지하철역            object
04시-05시 승차인원     int64
04시-05시 하차인원     int64
05시-06시 승차인원     int64
05시-06시 하차인원     int64
06시-07시 승차인원     int64
06시-07시 하차인원     int64
07시-08시 승차인원     int64
07시-08시 하차인원     int64
08시-09시 승차인원     int64
08시-09시 하차인원     int64
09시-10시 승차인원     int64
09시-10시 하차인원     int64
10시-11시 승차인원     int64
10시-11시 하차인원     int64
11시-12시 승차인원     int64
11시-12시 하차인원     int64
12시-13시 승차인원     int64
12시-13시 하차인원     int64
13시-14시 승차인원     int64
13시-14시 하차인원     int64
14시-15시 승차인원     int64
14시-15시 하차인원     int64
15시-16시 승차인원     int64
15시-16시 하차인원     int64
16시-17시 승차인원     int64
16시-17시 하차인원     int64
17시-18시 승차인원     int64
17시-18시 하차인원     int64
18시-19시 승차인원     int64
18시-19시 하차인원     int64
19시-20시 승차인원     int64
19시-20시 하차인원     int64
20시-21시 승차인원     int64
20시-21시 하차인원     int64
21시-22시 승차인원     int64
21시-22시 하차인원     int64
22시-23시 승차인원     int64
22시-23시 하차인원     int64
23시-24시 승차인원     int64
23시-24시 하차인원     int64
00시-01시 승차인원     int64
00시-01시 하차인원     int64
01시-02시 승차인원     int64
01시-02시 하차인원     int64
02시-03시 승차인원     int64
02시-03시 하차인원     int64
03시-04시 승차인원     int64
03시-04시 하차인원     int64
작업일자             int64
dtype: object

## 불필요한 컬럼 삭제

In [14]:
df.drop(columns=['작업일자'], inplace=True)

KeyError: "['작업일자'] not found in axis"

## 승차/하차 테이블 분리

### 승차 테이블 만들기

In [15]:
df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,202108,1호선,동대문,415,11,10380,1815,7880,5352,12037,...,1633,5983,7,1043,2,2,0,2,0,0
1,202108,1호선,동묘앞,84,3,2861,918,3286,4614,5128,...,577,1759,4,827,0,0,0,0,0,0
2,202108,1호선,서울역,483,11,7963,5533,10871,31479,31643,...,7756,4968,21,444,1,1,0,0,0,0
3,202108,1호선,시청,6,0,1597,4399,2727,17957,5971,...,2462,822,3,72,0,2,0,0,0,0
4,202108,1호선,신설동,247,6,6828,2721,7333,9771,14821,...,1352,3747,15,390,0,0,0,0,0,0

In [17]:
# 공통 컬럼
df1 = df.iloc[: , :3]
# 승차 컬럼만 가져오기
df2 = df.iloc[: , 3::2]
df2

,04시-05시 승차인원,05시-06시 승차인원,06시-07시 승차인원,07시-08시 승차인원,08시-09시 승차인원,09시-10시 승차인원,10시-11시 승차인원,11시-12시 승차인원,12시-13시 승차인원,13시-14시 승차인원,...,18시-19시 승차인원,19시-20시 승차인원,20시-21시 승차인원,21시-22시 승차인원,22시-23시 승차인원,23시-24시 승차인원,00시-01시 승차인원,01시-02시 승차인원,02시-03시 승차인원,03시-04시 승차인원
0,415,10380,7880,12037,16637,15671,13922,15675,18244,19566,...,20332,13464,10336,9669,6514,1633,7,2,0,0
1,84,2861,3286,5128,8066,7541,9130,13369,18112,21526,...,19551,8704,5031,4235,2678,577,4,0,0,0
2,483,7963,10871,31643,49003,36383,35273,41477,48720,50740,...,152659,72119,47289,51106,27974,7756,21,1,0,0
3,6,1597,2727,5971,6884,7541,8328,12240,13561,15934,...,119064,41635,31787,27796,13739,2462,3,0,0,0
4,247,6828,7333,14821,20523,14881,13551,15578,16289,17701,...,48482,18413,11610,9764,5955,1352,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46547,0,177,642,1292,1479,1438,1408,1179,1268,2081,...,2304,1332,1002,942,270,111,3,0,0,0
46548,1,292,415,537,823,980,1025,720,571,684,...,563,175,156,53,71,8,3,0,0,0
46549,14,4929,8539,22160,25792,14328,11117,10340,10853,10510,...,8399,6449,4652,3849,3062,1619,86,0,0,0
46550,0,161,368,1227,910,897,1009,904,1086,1371,...,1617,845,492,420,309,107,8,0,0,0
46551,436,10929,23317,65043,85473,54247,42703,44815,49662,50237,...,59218,38996,33754,34364,31606,18205,767,0,0,0

In [21]:
# 공통컬럼과 승차컬럼 연결하기
df_in = pd.concat([df1, df2], axis=1)
df_in

,사용월,호선명,지하철역,04시-05시 승차인원,05시-06시 승차인원,06시-07시 승차인원,07시-08시 승차인원,08시-09시 승차인원,09시-10시 승차인원,10시-11시 승차인원,...,18시-19시 승차인원,19시-20시 승차인원,20시-21시 승차인원,21시-22시 승차인원,22시-23시 승차인원,23시-24시 승차인원,00시-01시 승차인원,01시-02시 승차인원,02시-03시 승차인원,03시-04시 승차인원
0,202108,1호선,동대문,415,10380,7880,12037,16637,15671,13922,...,20332,13464,10336,9669,6514,1633,7,2,0,0
1,202108,1호선,동묘앞,84,2861,3286,5128,8066,7541,9130,...,19551,8704,5031,4235,2678,577,4,0,0,0
2,202108,1호선,서울역,483,7963,10871,31643,49003,36383,35273,...,152659,72119,47289,51106,27974,7756,21,1,0,0
3,202108,1호선,시청,6,1597,2727,5971,6884,7541,8328,...,119064,41635,31787,27796,13739,2462,3,0,0,0
4,202108,1호선,신설동,247,6828,7333,14821,20523,14881,13551,...,48482,18413,11610,9764,5955,1352,15,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46547,201501,중앙선,운길산,0,177,642,1292,1479,1438,1408,...,2304,1332,1002,942,270,111,3,0,0,0
46548,201501,중앙선,원덕,1,292,415,537,823,980,1025,...,563,175,156,53,71,8,3,0,0,0
46549,201501,중앙선,중랑,14,4929,8539,22160,25792,14328,11117,...,8399,6449,4652,3849,3062,1619,86,0,0,0
46550,201501,중앙선,팔당,0,161,368,1227,910,897,1009,...,1617,845,492,420,309,107,8,0,0,0
46551,201501,중앙선,회기,436,10929,23317,65043,85473,54247,42703,...,59218,38996,33754,34364,31606,18205,767,0,0,0

## 하차 테이블 만들기

In [22]:
# 공통 컬럼

# 하차 컬럼만 가져오기
df3 = df.iloc[: , 4::2]

In [24]:
# 공통컬럼과 하차컬럼 연결하기
df_out = pd.concat([df1, df3], axis=1)
df_out

,사용월,호선명,지하철역,04시-05시 하차인원,05시-06시 하차인원,06시-07시 하차인원,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,10시-11시 하차인원,...,18시-19시 하차인원,19시-20시 하차인원,20시-21시 하차인원,21시-22시 하차인원,22시-23시 하차인원,23시-24시 하차인원,00시-01시 하차인원,01시-02시 하차인원,02시-03시 하차인원,03시-04시 하차인원
0,202108,1호선,동대문,11,1815,5352,9885,19783,19192,17298,...,16304,15398,10356,8870,7191,5983,1043,2,2,0
1,202108,1호선,동묘앞,3,918,4614,8004,18779,15213,17602,...,9210,5827,3835,3839,3706,1759,827,0,0,0
2,202108,1호선,서울역,11,5533,31479,73669,149249,94786,50691,...,61655,38909,25080,21490,13638,4968,444,1,0,0
3,202108,1호선,시청,0,4399,17957,53669,141150,60972,24743,...,11317,5636,3793,3501,2205,822,72,2,0,0
4,202108,1호선,신설동,6,2721,9771,21765,52910,28274,18729,...,22904,15802,10231,9428,7268,3747,390,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46547,201501,중앙선,운길산,0,56,403,675,1390,3270,3673,...,1218,1457,769,760,775,633,222,0,0,0
46548,201501,중앙선,원덕,0,4,46,248,344,273,497,...,721,714,612,404,339,383,157,0,0,0
46549,201501,중앙선,중랑,1,424,2084,3027,6573,6133,5605,...,19547,21424,14362,11678,11060,6501,1617,0,0,0
46550,201501,중앙선,팔당,0,50,149,523,1151,2931,3932,...,822,749,320,319,339,336,85,0,0,0
46551,201501,중앙선,회기,3,3067,10430,24473,59383,41911,35003,...,76039,81870,53481,50706,49658,35702,9314,0,0,0

# 출퇴근시간 역별 승하차인원 분석

* 최근 월을 기준으로 한 승하차 데이터프레임 생성

In [25]:
df

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,202108,1호선,동대문,415,11,10380,1815,7880,5352,12037,...,1633,5983,7,1043,2,2,0,2,0,0
1,202108,1호선,동묘앞,84,3,2861,918,3286,4614,5128,...,577,1759,4,827,0,0,0,0,0,0
2,202108,1호선,서울역,483,11,7963,5533,10871,31479,31643,...,7756,4968,21,444,1,1,0,0,0,0
3,202108,1호선,시청,6,0,1597,4399,2727,17957,5971,...,2462,822,3,72,0,2,0,0,0,0
4,202108,1호선,신설동,247,6,6828,2721,7333,9771,14821,...,1352,3747,15,390,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46547,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,111,633,3,222,0,0,0,0,0,0
46548,201501,중앙선,원덕,1,0,292,4,415,46,537,...,8,383,3,157,0,0,0,0,0,0
46549,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,1619,6501,86,1617,0,0,0,0,0,0
46550,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,107,336,8,85,0,0,0,0,0,0
46551,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,18205,35702,767,9314,0,0,0,0,0,0

In [32]:
df_in_2108 = df_in[df_in['사용월']=='202108']
df_out_2108 = df_out[df_out['사용월']=='202108']

In [34]:
df_out_2108.tail()

,사용월,호선명,지하철역,04시-05시 하차인원,05시-06시 하차인원,06시-07시 하차인원,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,10시-11시 하차인원,...,18시-19시 하차인원,19시-20시 하차인원,20시-21시 하차인원,21시-22시 하차인원,22시-23시 하차인원,23시-24시 하차인원,00시-01시 하차인원,01시-02시 하차인원,02시-03시 하차인원,03시-04시 하차인원
602,202108,중앙선,원덕,0,1,261,477,613,522,665,...,701,590,330,468,277,161,20,0,0,0
603,202108,중앙선,중랑,4,572,2261,2544,5744,4790,4282,...,20675,13961,9480,7041,7106,2686,183,0,0,0
604,202108,중앙선,지평,0,0,0,298,58,3,422,...,137,232,4,84,32,0,0,0,0,0
605,202108,중앙선,팔당,0,117,783,1603,2790,3084,3007,...,1828,1148,734,488,333,211,0,0,0,0
606,202108,중앙선,회기,12,3419,10520,24212,40739,26807,23533,...,62992,50037,30138,30912,31496,12009,1645,0,0,0

* 출근시간에 가장 많은 사람이 승차하는 역은 어디일까? (08시-09시)

In [35]:
df_in_2108['08시-09시 승차인원'].max()
df_in_2108[df_in_2108['08시-09시 승차인원'] == 267128]

267128

In [38]:
# 다른 방법
df_in_2108.nlargest(10, '08시-09시 승차인원')[['지하철역','08시-09시 승차인원']]

            지하철역  08시-09시 승차인원
37            신림        267128
14       구로디지털단지        153411
28   서울대입구(관악구청)        150090
83           연신내        132615
133          까치산        130443
52      잠실(송파구청)        128005
175           화곡        121310
112           쌍문        112812
36           신도림        111452
35           신대방        110766

* 출근시간에 가장 많은 사람이 하차하는 역은 어디일까?(09시-10시)

In [39]:
df_out_2108.nlargest(10, '09시-10시 하차인원')[['지하철역','09시-10시 하차인원']]

           지하철역  09시-10시 하차인원
10           강남        274355
43           역삼        226437
215     가산디지털단지        188412
30           선릉        178766
26     삼성(무역센터)        172539
80          압구정        139283
31           성수        124935
78           신사        122905
13   교대(법원.검찰청)        121163
14      구로디지털단지        121092

* 퇴근시간에 가장 많은 사람이 승차하는 역은 어디일까?(18시-19시)

In [40]:
df_in_2108.nlargest(10, '18시-19시 승차인원')[['지하철역','18시-19시 승차인원']]

            지하철역  18시-19시 승차인원
10            강남        302398
215      가산디지털단지        283125
30            선릉        245318
43            역삼        239209
26      삼성(무역센터)        230299
50         을지로입구        207093
31            성수        202624
14       구로디지털단지        192537
82      양재(서초구청)        174296
128  광화문(세종문화회관)        173772

* 퇴근시간에 가장 많은 사람이 하차하는 역은 어디일까?(19시-20시)

In [41]:
df_out_2108.nlargest(10, '19시-20시 하차인원')[['지하철역','19시-20시 하차인원']]

            지하철역  19시-20시 하차인원
37            신림        182832
28   서울대입구(관악구청)        121426
52      잠실(송파구청)        116568
14       구로디지털단지        107520
83           연신내        103283
36           신도림         97759
109     수유(강북구청)         93666
133          까치산         87948
112           쌍문         86631
438           부천         85018


# 강남역의 최근 시간대별 승하차정보 분석

## 강남역의 최근 승차정보 분석

In [ ]:
# 강남역의 최근 승차 데이터 불러오기

In [ ]:
# melt

In [ ]:
# 컬럼명 변경

In [ ]:
# 시간대별 승차인원 시각화하기

## 강남역의 최근 하차 정보 분석

In [ ]:
# 강남역의 최근 하차 데이터 불러오기

In [ ]:
# melt

In [ ]:
# 컬럼명 변경

In [ ]:
# 시간대별 승차인원 시각화하기

# 지하철 시간대별, 역별 이용현황 분석

## 시간대별 승차 현황

### 승차정보 집계 데이터 만들기

In [ ]:
# df_in_202108카피하여 사용하기

In [ ]:
# 인덱스 변경('지하철역')

In [ ]:
# 컬럼 삭제('사용월','호선명','지하철역')

In [ ]:
# 행,열 합계

### 시간대별 승차건수

### 지하철역별 승차건수

## 시간대별 하차 현황

### 하차정보 집계 테이블 만들기

In [ ]:
# df_out_202108카피하여 사용하기

In [ ]:
# 인덱스 변경('지하철역')

In [ ]:
# 컬럼 삭제('사용월','호선명','지하철역')

In [ ]:
# 행,열 합계

### 시간대별 하차 건수

### 지하철역별 하차건수